<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.olu.uspparties">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logodois"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logodois"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.onBoarding.CadastroVendedor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name=".activities.info.Ingressos"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.onBoarding.Tips"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activities.info.CadastroIngresso" />
        <activity
            android:name=".activities.info.DetalhesIngresso"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activities.info.DetalhesFesta"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".activities.home.Home"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.onBoarding.Splash"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>